<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.places">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
     <meta-data android:name="com.google.android.geo.API_KEY"
               android:value="AIzaSyDIh0Vp86MpK14JJ_nshygeJX6h1AbhHVU"/>
              </application>
    
</manifest>

